<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbType" value="0" />
		<add key="DbHost" value="192.168.0.244" />
		<add key="DbName" value="WSOP_50" />
		<add key="DbId" value="sa" />
		<add key="DbPw" value="9449966Ab" />
		<add key="SiteID" value="10" />
	</appSettings>
</configuration>