<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUrl" value="http://192.168.1.77:8080/une/gate"/>
		<!-- 복합시설관 -->
		<add key="SiteID" value="44"/>
		<add key="DBHost" value="172.20.101.11"/>
		<add key="DBInfo" value="39e3kpPeG/tSSs8skRET/jN0/97GB/rfjR6tIo1KV9s="/>
		<add key="SOPWebServerURL" value="https://localhost:44379"/>
	</appSettings>
</configuration>