<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="SITE_ID" value="1" />
		<add key ="DB_NAME" value="NIPA" />
		<add key ="DB_TYPE" value="0" />
		<add key ="DbHost" value="AwVB0IrUXAghp5PlaWuqWg==" />
		<add key ="DbID" value="GUk6cJACqVBoIFh7ny7mqQ==" />
		<add key ="DbPw" value="W90+BAzvFtO9eF7B1fceVg==" />
		<add key ="Alarm_Fire_URL" value="http://127.0.0.1:44379/api/FireSensor" />
		<add key ="Alarm_ETC_URL" value="http://127.0.0.1:44379/api/EtcSensor" />
		<add key ="Alarm_PSM_URL" value="http://127.0.0.1:44379/api/PSMSensor" />
	</appSettings>
</configuration>