<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dbHost" value="AwVB0IrUXAghp5PlaWuqWg=="/>
		<add key="dbType" value="0"/>
		<add key="dbId" value="GUk6cJACqVBoIFh7ny7mqQ=="/>
		<add key="dbPw" value="SezOwMM9A2mIbUk5DCW/eQ=="/>

		<add key="siteid" value="1"/>
		<add key="dbName" value="NIPA"/>
		<add key="cities" value="영천(영천)" />
		<add key="region1" value="159"/>
		<!--형식: 도시이름(도 코드_시 코드)-->
		<add key="ServiceCityCode" value="영천(11C20000-11C20402)"/>
		<!-- 기상청 API-->
		<add key="ServiceBaseURL" value="http://apis.data.go.kr/1360000"/>
		<add key="ServiceKey" value="N7btoJzSjDUofiEvhmwj5EmDGxE4UP92YYXMfHqqQY%2BU%2B%2F5izsxJgOLfMSzbG%2BahGT6Gj286mPIgSNSb1pzu8w%3D%3D"/>
	</appSettings>
</configuration>