:root {

    /* Colors: */
    --background-color: #0E162D;
    --white-color: #fff;
    --light-gray-color: #B3B3B3;
    --middle-gray-color: #9397A1;
    --dark-gray-color: #525868;
    --board-gray-color: #9EA1AA;
    --navy-color: #0E162D;
    --blue-color: #004BB9;
    --pink-color: #FF5353;
    --red-color: #FF5555;

    --dashboard-color: #272E42;
    --board-view-background-color: #2A2D43;
    --board-view-data-blue-color: #207AFF;
    
    --title-bar-text-blue-color: #5398FF;

    --settings-color: #FFD753;
}