<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="webServerURL" value="http://127.0.0.1:809" />
		<add key="dbName" value="WSOP_11"/>
		<add key="dbType" value="0"/>
		<add key="locationUrl" value="http://222.103.110.36:9988/listuserpoi" />
		<!--add key="locationUrl" value="http://222.103.110.36:9988/listuserposition"/-->
		<add key="workerCount" value="10"/>
		<!-- Log -->
		<add key="logFolder" value="C:\UNE\Log"/>
		<!-- 로그 저장기간(일)-->
		<add key="logLifeTime" value="30"/>
		<add key="logFileTag" value="NSTAgent"/>
		<add key="useCopyFile" value="false"/>
		<add key="copySourceFolder" value="C:\UnE\Log"/>
		<add key="copySourcePattern" value="PlcSensorServer_*.log"/>
		<add key="copyTarget" value="C:\UnE\log.log"/>
	</appSettings>
</configuration>