<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- 안전작업 허가 SHE Setting -->
    <add key="SHE_NAME" value="WONIKSHE" />
    <add key="SHE_TYPE" value="0" />
    <!-- SHE_HOST / SHE_ID / SHE_PW 는 AES256 암호화된 값 (DB_HOST / DB_ID / DB_PW 와 동일 방식) -->
    <!--<add key="SHE_HOST" value="L0J8b3ftou9Ze0m8FfNG7Q==" />
      <add key="SHE_ID" value="pmp6wJ+k2PL0Ir1EiDg+AA==" />
      <add key="SHE_PW" value="ZwGcSDNEsUG7BBxdSRgS2Q==" />-->
    <add key="SHE_HOST" value="AwVB0IrUXAghp5PlaWuqWg==" />
    <add key="SHE_ID" value="GUk6cJACqVBoIFh7ny7mqQ==" />
    <add key="SHE_PW" value="SezOwMM9A2mIbUk5DCW/eQ==" />
    <!-- backup -->
    <!--<add key="backupFilePath" value="\\10.6.13.44\Backup\"/>-->
    <add key="backupFilePath" value="C:\UNE\Log\" />
    <!-- ERP Setting -->
    <add key="ERP_NAME" value="Wonik_ERP" />
    <!-- 환경설비 Setting -->
    <add key="Environ_NAME" value="Wonik_Environment" />
    <add key="EnvironAlarmURL" value="http://localhost:44379/api/EnvironmentSensor" />
    <!-- 제조설비 Setting -->
    <add key="HMI_NAME" value="Wonik_HMI" />
    <add key="ManufAlarmURL" value="http://127.0.0.1:44379/api/ManufactureSensor" />
    <!-- 환경설비S Setting -->
    <add key="EnvironS_NAME" value="Wonik_EnvS" />
    <!-- DB Setting -->
    <add key="SITE_ID" value="30" />
    <add key="DB_NAME" value="WSOP_30" />
    <add key="DB_TYPE" value="0" />
    <add key="DB_HOST" value="AwVB0IrUXAghp5PlaWuqWg==" />
    <add key="DB_ID" value="GUk6cJACqVBoIFh7ny7mqQ==" />
    <add key="DB_PW" value="SezOwMM9A2mIbUk5DCW/eQ==" />
    <add key="DB_NAME2" value="WSOP_31" />
    <!-- Gas Setting -->
    <add key="SOPWebServerURL" value="http://localhost:44379/api/PSMSensor" />
    <add key="H_Device_IP" value="10.0.21.105" />
    <add key="A_Device1_IP" value="10.0.21.102" />
    <add key="A_Device2_IP" value="10.0.21.103" />
    <add key="C_Device1_IP" value="10.0.21.109" />
    <add key="C_Device2_IP" value="10.0.21.110" />
    <add key="C_Device3_IP" value="10.0.21.111" />
    <add key="V_Device1_IP" value="10.2.20.25" />
    <add key="V_Device2_IP" value="10.2.20.26" />
    <add key="V_Device3_IP" value="10.2.20.27" />
    <add key="V_Device4_IP" value="10.2.20.28" />
	<add key="V_Device5_IP" value="10.2.20.29" />
    <add key="S_Device1_IP" value="10.6.30.23" />
    <add key="S_Device2_IP" value="10.6.30.25" />
    <add key="S_Device3_IP" value="10.6.30.27" />
    <add key="S_Device4_IP" value="10.6.30.29" />
    <add key="S_Device5_IP" value="10.6.30.31" />
    <add key="S_Device6_IP" value="10.6.30.42" />
    <add key="S_Device7_IP" value="10.6.30.40" />
    <add key="S_Device8_IP" value="10.6.30.41" />
	<add key="S_Device9_IP" value="10.6.30.43" />
    <!-- Log -->
    <add key="logFolder" value="C:\UNE\Log\WonikErpNSheServer" />
    <!-- 로그 저장기간(일)-->
    <add key="logLifeTime" value="30" />
    <add key="logFileTag" value="WonikErpNSheServer" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="DeleteLogFolderCount" value="4" />
	  <add key="DeleteLogFolder_1" value="D:\UNE\Log" />
	  <add key="DeleteLogFolder_2" value="D:\UNE\WonikBeaconServer\Log" />
	  <add key="DeleteLogFolder_3" value="D:\UNE\WebSOPApp_31\Log" />
	  <add key="DeleteLogFolder_4" value="D:\UNE\SOPWebServer2\Log" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>