<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SoPluginContainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">  
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <applicationSettings>
    <SoPluginContainer.Properties.Settings>
      <setting name="DisplayTitle" serializeAs="String">
        <value>S1 Plug-in Container</value>
      </setting>
    </SoPluginContainer.Properties.Settings>
  </applicationSettings>
  
  <appSettings>
    <!-- WebDB -->
    <add key="siteid" value="30"/>
    <add key="dbName" value="WSOP_30"/>
    <add key="dbType" value="0"/>
    <add key="dbHost" value="AwVB0IrUXAghp5PlaWuqWg=="/>
    <!--<add key="dbHost" value="n5abeoVvmzkRQmpOtg4z0g=="/>-->
    <add key="dbID" value="GUk6cJACqVBoIFh7ny7mqQ=="/>
    <add key="dbPw" value="E2DcBFbSVLnbVJErjHV+5g=="/>
    
    <!-- Log -->
    <add key="logFolder" value="C:\UNE\Log"/>
    <!-- 로그 저장기간(일)-->
    <add key="logLifeTime" value="30"/>
    <add key="logFileTag" value="SVMSServer"/>
    
    <!-- 원익 -->
    <add key="svmsIP" value="10.6.13.11"/>
    <add key="port" value="8020"/>
    <add key="id" value="root"/>
    <add key="password" value="root@passwd1!"/>

    <!-- 영상서버 -->
    <add key="streamName" value="SoulBrain"/>
    <add key="rtspServerName" value="go2rtc"/>
    <add key="runRTSPServer" value="C:\Users\dev1_N_03\Desktop\go2rtc-1.5.0\go2rtc.exe"/>
    <add key="cctvJson" value="C:\Users\dev1_N_03\Desktop\go2rtc-1.5.0\go2rtc.yaml"/>

    <!-- 알람 -->
    <add key ="Alarm_Security_URL" value="https://127.0.0.1:44379/api/SecuritySensor" />
  </appSettings>
  
</configuration>