<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key ="ServerPort" value="29712"/>

    <!-- DB Setting -->
    <add key ="SITE_ID" value="16" />
    <add key ="DB_NAME" value="WSOP_16" />
    <add key ="DB_TYPE" value="0" />
    <add key ="DB_HOST" value="AwVB0IrUXAghp5PlaWuqWg==" />
    <!--<add key ="DB_HOST" value="Wz2xov7mmCEkPgtmNycKzQ==" />-->
    <add key ="DB_ID" value="GUk6cJACqVBoIFh7ny7mqQ==" />
    <add key ="DB_PW" value="SezOwMM9A2mIbUk5DCW/eQ==" />

    <!-- Alarm URL -->
    <add key ="ALARM_URL" value="http://localhost:44379" />
    <!--<add key ="ALARM_URL" value="http://192.168.12.10:44379"/>-->

    <!-- External Setting -->
    <add key ="EXTERNAL_NAME" value="SI" />
    <add key ="EXTERNAL_TYPE" value="0" />
    <add key ="EXTERNAL_HOST" value="127.0.0.1" />
    <!--<add key ="EXTERNAL_HOST" value="192.168.10.11" />-->
    <add key ="EXTERNAL_ID" value="sa" />
    <add key ="EXTERNAL_PW" value="9449966Ab" />
    <!--<add key ="EXTERNAL_PW" value="!1q2w3e" />-->

    <!-- Log -->
    <add key="logFolder" value="C:\UNE\Log\SujainFireServer"/>
    <!--<add key="logFolder" value="D:\UnE\Log\SujainFireServer"/>-->
    <!-- 로그 저장기간(일)-->
    <add key="logLifeTime" value="30"/>
    <add key="logFileTag" value="SujainFireServer"/>
  </appSettings>
</configuration>