<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="ServerPort" value="29712" />

      <!-- DB Setting -->
      <add key="SITE_ID" value="16" />
      <add key="DB_NAME" value="WSOP_16" />
      <add key="DB_TYPE" value="0" />
      <add key="DB_HOST" value="AwVB0IrUXAghp5PlaWuqWg==" />
      <add key="DB_ID" value="GUk6cJACqVBoIFh7ny7mqQ==" />
      <add key="DB_PW" value="SezOwMM9A2mIbUk5DCW/eQ==" />

      <!-- Alarm URL -->
      <add key="ALARM_URL" value="http://localhost:44379" />

      <!-- 지진 External Setting -->
      <add key="EXTERNAL_NAME" value="mmp_s1" />
      <add key="EXTERNAL_TYPE" value="3" />
      <!--<add key="EXTERNAL_HOST" value="127.0.0.1" />-->
      <add key="EXTERNAL_HOST" value="192.168.11.11" />
      <add key="EXTERNAL_ID" value="postgres" />
      <!--<add key="EXTERNAL_PW" value="9449966Ab" />-->
      <add key="EXTERNAL_PW" value="Admin123$" />
      
      
      <!-- 정전 Setting -->
      <add key="BLACKOUT_NAME" value="SI" />
      <add key="BLACKOUT_TYPE" value="0" />
      <!--<add key ="BLACKOUT_HOST" value="127.0.0.1" />-->
      <add key ="BLACKOUT_HOST" value="192.168.10.10" />
      <add key ="BLACKOUT_ID" value="sa" />
      <!--<add key ="BLACKOUT_PW" value="9449966Ab" />-->
      <add key ="BLACKOUT_PW" value="!1q2w3e" />
      
      
      
      
      <!-- Log -->
      <add key="logFolder" value="C:\UNE\Log\SujainEarthquakeServer" />
      <!-- 로그 저장기간(일)-->
      <add key="logLifeTime" value="30" />
      <add key="logFileTag" value="SujainEarthquakeServer" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>