<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key ="SOULBARIN_ID" value="unes"/>
      <add key ="SOULBARIN_PW" value="unesunes"/>
      
      <add key="WebServiceBaseURL" value="http://sbsihia.neoidm.com:8989" />
      <add key ="SITE_ID" value="10" />
      <add key ="DB_NAME" value="WSOP_10" />
      <add key ="DB_TYPE" value="0" />
      
      <add key ="DB_HOST" value="AwVB0IrUXAghp5PlaWuqWg==" />
      <!--<add key ="DB_HOST" value="j4mq8ATXl4fvkD3TDPliXg==" /> 192.168.254.201 -->
      <add key ="DB_ID" value="GUk6cJACqVBoIFh7ny7mqQ==" />
      <add key ="DB_PW" value="SezOwMM9A2mIbUk5DCW/eQ==" />
      
      <add key ="WebServerURL" value="http://127.0.0.1:808" />
      <add key ="Alarm_ETC_URL" value="http://127.0.0.1:44379/api/EtcSensor" />
      <add key ="Alarm_PSM_URL" value="http://127.0.0.1:44379/api/PSMSensor" />
      <!--<add key ="WebServerURL" value="http://192.168.254.201:808" />
      <add key ="Alarm_ETC_URL" value="http://192.168.254.201:44379/api/EtcSensor" />
      <add key ="Alarm_PSM_URL" value="http://192.168.254.201:44379/api/PSMSensor" />-->
      
      <add key="WISH_NAME" value="ESH_DB" />
      <add key="WISH_TYPE" value="0" />
      <add key="WISH_ID" value="wesh" />
      <add key="WISH_PW" value="techn0$b" />
      <add key="WISH_URL" value="211.194.150.110" />
      
      <add key="HR_NAME" value="Soulbrain_HR" />

      <!-- 조회할 디바이스 시작 및 종료 번호 -->
      <!--<add key="DEVICE_NUM_START" value="0" />
      <add key="DEVICE_NUM_END" value="250" />-->
      <!-- 임계치 및 ERP, 작업현황 동기화 서버 여부 확인 -->
      <!--<add key="FIRST_SERVER" value="True" />-->
      <!-- 알람 조회 서버 여부 확인 -->
      <!--<add key="ALARM_SERVER" value="True" />-->

    <!-- Log -->
		<add key="logFolder" value="C:\UNE\Log\SoulbrainWebSensorServer"/>
		<!-- 로그 저장기간(일)-->
		<add key="logLifeTime" value="30"/>
		<add key="logFileTag" value="SoulbrainWebSensorServer"/>
    </appSettings>
</configuration>