<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- WebDB -->
		<add key="siteid" value="10"/>
		<!--add key="webserverURL" value="https://localhost:5001"/-->
		<add key="webserverURL" value="http://127.0.0.1:81"/>
		<add key="dbHost" value="AwVB0IrUXAghp5PlaWuqWg=="/>
		<add key="DbID" value="GUk6cJACqVBoIFh7ny7mqQ=="/>
		<add key="DbPw" value="SezOwMM9A2mIbUk5DCW/eQ=="/>
		<add key="dbName" value="WSOP_10"/>
		<add key="dbType" value="0"/>
		<!-- SVMS -->
		<!-- 솔브레인 -->
		<!--<add key="svmsIP" value="192.168.0.129"/>
		<add key="port" value="8020"/>
		<add key="id" value="root"/>
		<add key="password" value="Root@passwd!"/>-->
		<!-- 녹십자 -->
		<add key="svmsIP" value="172.30.10.10	192.1.16.200"/>
		<add key="port" value="8020	8020"/>
		<add key="id" value="idms00	idms00"/>
		<add key="password" value="iccard@2009	root@passwd1!"/>
		<!-- Log -->
		<add key="logFolder" value=".\Log"/>
		<!-- 로그 저장기간(일)-->
		<add key="logLifeTime" value="30"/>
		<add key="logFileTag" value="SVMSServer"/>
		<!-- 영상서버 -->
		<add key="streamName" value="SoulBrain"/>
		<add key="rtspServerName" value="RTSPtoWebRTC"/>
		<add key="runRTSPServer" value="D:\UnESolution\web\RTSPtoWebRTC\RTSP_START.bat"/>
		<add key="cctvJson" value="D:\UnESolution\web\RTSPtoWebRTC\config.json"/>
		<!-- 서브 영상서버 -->
		<add key="rtspServerName_Sub" value="RTSPtoWebRTC"/>
		<add key="runRTSPServer_Sub" value="C:\Users\UNE\Desktop\RTSPtoWebRTC\RTSPtoWebRTC.exe"/>
		<add key="cctvJson_Sub" value="C:\Users\UNE\Desktop\RTSPtoWebRTC\config.json"/>
		<!-- 알람 -->
		<add key ="Alarm_Security_URL" value="https://localhost:44379/api/SecuritySensor" />
		<!-- RTSP URL -->
		<add key="RTSPtoWebRTC_URL" value="http://127.0.0.1:8083/stream/player/"/>
		<add key="go2rtc_URL" value="http://127.0.0.1:1984/stream.html?src="/>
		
	</appSettings>
</configuration>