<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--add key="ip" value="221.147.100.163"/-->
		<add key="ip" value="127.0.0.1"/>
		<add key="port1" value="5678"/>
		<add key="port2" value="5679"/>
		<add key="webServerURL" value="http://127.0.0.1:809" />
		<add key="dbName" value="WSOP_11"/>
		<add key="dbType" value="0"/>
		<add key="DbHost" value="AwVB0IrUXAghp5PlaWuqWg==" />
		<add key="DbID" value="GUk6cJACqVBoIFh7ny7mqQ==" />
		<add key="DbPw" value="SezOwMM9A2mIbUk5DCW/eQ==" />
		<add key ="Alarm_Fire_URL" value="https://localhost:44321/api/FireSensor" />
	</appSettings>
</configuration>