<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="siteIDs" value="1"/>
		<add key="dbHost" value="AwVB0IrUXAghp5PlaWuqWg=="/>
		<add key="dbType" value="0"/>
		<add key="dbId" value="GUk6cJACqVBoIFh7ny7mqQ=="/>
		<add key="dbPw" value="SezOwMM9A2mIbUk5DCW/eQ=="/>
		<add key="dbName" value="NIPA"/>
		<add key="mesHost1" value="oCYWQobs8ed6vs7d+jobJw=="/>
		<add key="mesType1" value="2"/>
		<add key="mesId1" value="nqJpHSiVOVp1+0eBz/h+4g=="/>
		<add key="mesPw1" value="GOwLi3Yvl87bkA1MStCaRA=="/>
		<add key="mesSid1" value="KhB+hBHojktDzfbpi2ioIQ=="/>
		<add key="mesHost2" value="vOEEcSGGKf0vOmM/tzp9MQ=="/>
		<add key="mesType2" value="2"/>
		<add key="mesId2" value="qB9LNEaBxcZDyJzC9q6lXQ=="/>
		<add key="mesPw2" value="gKbwGIarzUr54XzWThjvYQ=="/>
		<add key="mesSid2" value="KkPsz8NPJ+6iyD1AGn8Uyg=="/>
	</appSettings>
</configuration>