<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key ="ALARM_FIRE_URL" value="http://localhost:44379/api/FireSensor" />

      <add key="FIRE_SENSOR_ID" value="1"/>
      <add key="CCTV1_ID" value="5"/>
      <add key="CCTV2_ID" value="215"/>
      <add key="CCTV3_ID" value="232"/>
      <add key="CCTV4_ID" value="334"/>

      <add key="CAMERA_PORT" value="554"/>
      <add key="CAMERA_IP" value="192.168.0.169"/>

      <add key ="SITE_ID" value="10" />
      <add key ="DB_NAME" value="WSOP_10" />
      <add key ="DB_TYPE" value="0" />
      <add key ="WebServerURL" value="http://127.0.0.1:808" />

      <add key ="ChromeDriver_PATH" value="C:\\Program Files\\Google\\Chrome\\Application\\" />
      
      <!-- Log -->
      <add key="logFolder" value="C:\UNE\Log\GSFireSensorServer"/>
      <!-- 로그 저장기간(일)-->
      <add key="logLifeTime" value="30"/>
      <add key="logFileTag" value="GSFireSensorServer"/>
    </appSettings>
</configuration>