<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="key" value="2UEsQu2armwOGlKQYSTIv3DcK%2Bq0ACpJzyWj53Bz%2FOTjxsYLEXzCoshXBxkicee%2FoyunkH5NUWvjYNbTCDNqKw%3D%3D"/>
		<add key="expired" value="20241130"/>
	</appSettings>
</configuration>