<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OwnDB" value="WSOP_40"/>
		<add key="ExternalDB" value="WSOP_G40"/>
		<add key="OwnDBInfo" value="e2KDZdcq4kk64iMfDNSkdo3USxX41YwbcQDWGOszeN4="/>
		<add key="ExternalDBInfo" value="e2KDZdcq4kk64iMfDNSkdo3USxX41YwbcQDWGOszeN4="/>
	</appSettings>
</configuration>