input[type="text"].settingInput {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 28px;
    text-align: center;
    font-size: 12px;
    background: #232c42;
    border: solid 1px #474b69;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
}

.hidden {
    display: none;
}

.white {
    color: #fff;
}

.pointCursor {
    cursor: pointer;
}

.pointDefault {
    cursor: default;
}

.regularMemberList > tr > td {
    cursor: default;
}

.regularMemberList > tr > td > a {
    cursor: pointer;
}

.regularMemberCheck {
    color: #e4ad2b;
}

.scrollbar {
    overflow-y: auto !important;
}

.scrollbar::-webkit-scrollbar {
    width: 17.997px;
    height: 6.01px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #8D97BC;
    border-radius: 17.992px;
    background-clip: padding-box;
    border: 6px solid transparent;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #273353;
    background-clip: padding-box;
    border-radius: 17.992px;
    border: 6px solid transparent;
}

.settingRadio input[type=radio] {display: inline-block; vertical-align: middle; width: 18px; height: 18px; border: solid 1px #ddd; -webkit-appearance:none; -moz-appearance:none; appearance:none; position: relative; cursor: pointer; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;}
.settingRadio input[type=radio]:checked {border-color: #ff8400;}
.settingRadio input[type=radio]:checked:after {content: ''; display: block; background: #ff8400; position: absolute; left: 4px; right: 4px; top: 4px; bottom: 4px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;}
.settingRadio input[type=radio] + label.settingRadio {display: inline; vertical-align: middle; margin-left: 7px; font-weight: 500; cursor: pointer; color: #fff; font-family: 'dotum', sans-serif; font-size: 12px;}


@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.sopOptionBody{ display: flex; width:1100px; height: 662px; background-image: linear-gradient(#272729, #48474A); border-radius: 14px; } 
.sopTabArea{ display: block; width: 120px;  background: #383737; border-top-left-radius: 14px; border-bottom-left-radius: 14px; }

.sopTabMenu { padding: 0px; margin-top: 38px; }
.sopTabMenu li { list-style: none; height: 30px; line-height: 30px; padding-left: 14px; }
.sopTabMenu li:last-child { margin-bottom: 0; }
.sopTabMenu li a { display: block; font-size: 15px; color: #fff; position: relative; cursor:pointer;
                   font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight:400; font-size: 14px;  }
.sopTabMenu li:hover{ color:#34D762; background: #5E5E5E; } 
.sopTabMenu li a:hover{ color:#34D762; background: #5E5E5E; }             
.sopTabMenu li a.on { color: #34D762; font-weight: 500; font-size: 15px; cursor:pointer; }
.sopTabMenu li a.on:after {content: ''; display: block; width: 5px; height: 8px; position: absolute; right: 0; top: 50%; margin-top: -3px; }

.sopContents{ display: block; /* padding: 16px 25px 0px 25px; */ }
.sopContents .sopTitle{ display: flex; align-items: center; margin-bottom: 30px; margin-top: 14px; }
.sopContents .sopTitle .sopSetIcon{ display: inline-block; width: 23px; height: 23px; background: url('../../Settings/image/settings.png') no-repeat center center; }
.sopContents .sopTitle .sopSetText{ color: #fff; flex:1; font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight:bold; font-size: 20px; }
.sopContents .sopTitle .sopCloseBtn{ display: inline-block; width:16px; height: 16px; background: url('../../Settings/image/close_icon.png')no-repeat center center;
                                     background-size: 14px; cursor: pointer; }

.sopTreeArea{ display: flex; width: 100%; height: 422px; margin-bottom: 5px; }

.sopLocationBox{ display: block; width: 319px; background: #202020; margin-right: 5px; border-top-left-radius: 6px;
                 border-top-right-radius: 6px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }
.sopDisableText{ display: flex; height: 38px; line-height: 38px; background: #707070; /* border-left: solid 7px #808080; */ color: #808080;
	             font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight:400; font-size: 14px; /* padding-left: 15px; */
                 border-top-left-radius: 6px; border-top-right-radius: 6px;  }
.sopDisableTextF{ display: flex; height: 38px; line-height: 38px; background: #343434; /* border-left: solid 7px #34D762; */ color: #34D762;
	             font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight:400; font-size: 14px; padding-left: 15px;
                 border-top-left-radius: 6px; border-top-right-radius: 6px; }
.sopActiveText{ display: flex; height: 38px; line-height: 38px; color: #34D762; background: #343434;
                font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight:400; font-size: 14px; padding-left: 14px;
                border-top-left-radius: 6px; border-top-right-radius: 6px; }
.sopLocationText{ display: block; color: #fff; font-size: 14px; font-family: 'Noto Sans KR', sans-serif; padding-left: 4px; }


.sopListFlex{ flex: 1; color: #34D762; }
.editIcon{ display: inline-block; width: 31px; height: 31px; background: url('../../Settings/image/edit_icon.png')no-repeat center center; }
.editIcon:hover{ display: inline-block; width: 31px; height: 31px; background: url('../../Settings/image/editAct_icon.png')no-repeat center center; }
.editIconAct{ display: inline-block; width: 31px; height: 31px; background: url('../../Settings/image/editAct_icon.png')no-repeat center center; }

.sopTypeBox{ display: block; width: 153px; height: 422px; background: #505050; margin-right: 5px; 
             border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }
.sensorTypeTab{ display: block; background: #202020; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }
.sensorTypeTab li{  display: flex; list-style: none; border-bottom: dashed 0.5px #7e7e7e; padding: 12px 16px; align-items: center; }
.sensorTypeTab li a{ font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight:400; font-size: 14px; color: #fff; }
/* .sensorTypeTab li:hover{ background: #34D762; color: #fff; cursor: pointer; } */ 
.sensorTypeTab li:hover{ display: block; /* width: 12px; */ height: 39px; background: url('../../Settings/image/fastArrow.png')no-repeat 90% 50%; cursor: pointer; } 


.arrowIcon{ display: inline-block; width: 30px; height: 30px; background: url('../../Settings/image/treeArrow_icon.png')no-repeat center center;
            background-size: 8px; }

.sopListBox{ display: block; width: 468px; height: 422px; background: #505050;
             border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }

.sopTableArea{ display: block; height: 160px; background: #202020; border-top-left-radius: 6px; border-top-right-radius: 6px; 
               border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }
.sopTableArea table{ display: table; width: 100%; }
.sopTableArea table thead{ color: #34D762; font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight: 400; font-size: 12px; text-align:center;
                           background: #343434; border-top-left-radius: 6px; border-top-right-radius: 6px; }
.sopTableArea table thead tr{ height: 30px; }
.sopTableArea table thead tr th{ height: 30px; text-align: center; vertical-align: middle; font-weight: 400; }
.sopTableArea table tbody{ /* height: 160px; */ } 
.sopTableArea table tbody tr{ height: 30px; line-height: 25px; border-bottom: dashed 1px #b4b4b4ad; } 
.sopTableArea table tbody tr td{ color: #fff; font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight: 400; font-size: 12px; text-align: center;
                                 vertical-align: middle; }

.binIcon{ display: inline-block; width: 13px; height: 13px; background: url('../../Settings/image/bin_icon.png')no-repeat center center; cursor: pointer; }
.binIcon:hover{ display: inline-block; width: 13px; height: 13px; background: url('../../Settings/image/bin_icon.png')no-repeat center center; cursor: pointer; }


/* treeView */
.sopLTree{ display: block; overflow-y: scroll; background: #202020; }

.sopScroll { height: calc(100% - 40px); overflow-x: hidden; overflow-y: scroll; }
.sopScroll::-webkit-scrollbar { width: 5px; background: #505050; border-radius: 10px; }
.sopScroll::-webkit-scrollbar-thumb { background: #34D762; border-radius: 10px; opacity: .4 }
.sopScroll::-webkit-scrollbar-track { background: none}


.sopTableScroll { height: 218px; overflow-x: hidden; overflow-y: auto; }
.sopTableScroll::-webkit-scrollbar { width: 5px; background: #505050; border-radius: 10px; }
.sopTableScroll::-webkit-scrollbar-thumb { background: #34D762; border-radius: 10px; opacity: .4 }
.sopTableScroll::-webkit-scrollbar-track { background: none}


.sensorTypeScroll { /* height: calc(100% - 40px); */ height: 384px; overflow-x: hidden; overflow-y: auto; }
.sensorTypeScroll::-webkit-scrollbar { width: 5px; background: #505050; border-radius: 10px; }
.sensorTypeScroll::-webkit-scrollbar-thumb { background: #34D762; border-radius: 10px; opacity: .4 }
.sensorTypeScroll::-webkit-scrollbar-track { background: none}


.sopTree { /* padding: 4px; */ height: 18px; line-height: 18px; font-size: 13px; color: #fff; font-family: 'NanumSquare', sans-serif; /* padding-right: 10px; */}
.sopTree h5 {font-size: 13px; font-weight: 400; }
.sopTree h5:after {content: ''; display: table; clear: both; }
.sopTree h5 div{ padding: 4px; cursor: pointer; display: inline-flex;
                flex-direction: row; align-items: center; align-content: center; width: 100%; border-bottom: dashed 1px #7E7E7E; }
.sopTree h5:hover{ background:#34D762; }
.sopTree ul { /* display: none; */ text-align: left; color: #fff; }
.sopTree li{ display: block; text-align: left; }

.sopTree h5 div.on{ } 
.sopTree h5 div p.on{ color: red; } 
.sopTree h5 span.on{ }
.sopTree span{ cursor: pointer; display: inline-flex; flex-direction: row;
               align-items: center; align-content: center; font-size: 11px; color: #fff; cursor:pointer;  } 
.sopTree span.on {}
.sopTree span:before { margin-right: 5px; }

.sopTree p{ display: flex; align-items: center; }
.sopTree p.on{}
.sopTree a {margin-left: 10px;}
.sopTree a{ display: inline-block; width: 100%; height: 16px; line-height: 16px; color: #fff; cursor: pointer; text-align: left; }

.itemBox{ height: 23px; padding: 0px; border: 0; }
.itemBox:hover{ background: #34D762; }
.sFactoryText{ font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight: 400; font-size: 14px; color: #fff; }
.sAreaText{ font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight: 400; font-size: 12px; color: #fff; padding-left: 18px; }
.sFloorText{ font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight: 400; font-size: 12px; color: #fff; padding-left: 36px; }

.appliBtn{ display: block !important; width: 39px; height: 14px; line-height: 14px; background-image: linear-gradient(#505050, #101010);
           border-radius: 7px; text-align: center; margin-left: 6px; font-size: 10px; 
           font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight: 400; }

.treeSelect{ background:#34D762; }
