<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- DB Setting -->
    <add key ="DB_NAME" value="WSOP_17" />
    <add key ="DB_TYPE" value="0" />
    <add key ="DB_HOST" value="AwVB0IrUXAghp5PlaWuqWg==" />
    <add key ="DB_ID" value="GUk6cJACqVBoIFh7ny7mqQ==" />
    <add key ="DB_PW" value="SezOwMM9A2mIbUk5DCW/eQ==" />
            
    <!-- Sensor1 -->
    <add key ="Sensor1_IP" value="192.168.0.1" />
    <add key ="Sensor1_Port" value="50" />
    <add key ="Sensor1_UniqueKey" value="SenkoSensor_1" />    
    <!-- Sensor2 -->
    <add key ="Sensor2_IP" value="192.168.0.2" />
    <add key ="Sensor2_Port" value="50" />
    <add key ="Sensor2_UniqueKey" value="SenkoSensor_2" />

    <!-- Log -->
    <add key="logFolder" value="C:\UNE\Log\SenkoPSMServer"/>
    <!-- 로그 저장기간(일)-->
    <add key="logLifeTime" value="30"/>
    <add key="logFileTag" value="SenkoPSMServer"/>
    
  </appSettings>
</configuration>