<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="key" value="PyaLf05aaOl6hjZIeTmDk6aLz9nIjrS%2FqiU0s3ZkLBZP8PXMHJ0QvqJ4nz7fnbf4LzGelnw8HrienqthZC5Qbg%3D%3D"/>
		<add key="expired" value="20261210"/>
		<add key="siteID" value="13"/>
		<add key="dbName" value="WSOP_13"/>
		<add key="dbType" value="0"/>
		<add key="dbHost" value="AwVB0IrUXAghp5PlaWuqWg=="/>
		<add key="dbID" value="GUk6cJACqVBoIFh7ny7mqQ=="/>
		<add key="dbPW" value="SezOwMM9A2mIbUk5DCW/eQ=="/>
		<!-- 서울시 -->
		<add key="targetCoord" value="60_127"/>
	</appSettings>
</configuration>