<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="siteID" value="20"/>
		<add key="dbName" value="WSOP_20"/>
		<add key="dbType" value="0"/>
		<add key="dbHost" value="AwVB0IrUXAghp5PlaWuqWg=="/>
		<add key="dbID" value="GUk6cJACqVBoIFh7ny7mqQ=="/>
		<add key="dbPW" value="SezOwMM9A2mIbUk5DCW/eQ=="/>
		
		<!--여수 환경
		<add key="externalDbHost" value="Pww2jB27Lv5qbXvE+T9PqA=="/>
		<add key="externalDbName" value="yeosu"/>
		<add key="externalDbId" value="5+05j6Ph5bF994yKu7hABg=="/>
		<add key="externalDbPw" value="E/MMIB57fdfTVNr9BaJHHw=="/>-->

		<!--개발환경-->
		<add key="externalDbHost" value="AwVB0IrUXAghp5PlaWuqWg=="/>
		<add key="externalDbName" value="yeosu"/>
		<add key="externalDbId" value="7xq6I/9MVZ2WfuWshkC4Zw=="/>
		<add key="externalDbPw" value="w5DLtqeAFJ//LHpoIhVGbQ=="/>
		

		<!--<add key="sopWebServerURL" value="http://127.0.0.1:808"/>-->
		<!--<add key="sopWebServerURL" value="http://localhost:44379"/>-->
		<add key="sopWebServerURL" value="https://localhost:44379"/>

		<!-- Log -->
		<add key="logFolder" value="C:\UnE\Log\YeosuSensorServer"/>
		<!-- 로그 저장기간(일)-->
		<add key="logLifeTime" value="30"/>
		<add key="logFileTag" value="YeosuSensorServer"/>
	</appSettings>
</configuration>